html {
  background: url("./components/HeadSection/images/paperBackground.png")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: "Declaration";
  src: local("Declaration"),
    url(./fonts/Declaration/USDeclaration.ttf) format("truetype");
}
@font-face {
  font-family: "Fell-English";
  src: local("FellEnglish"),
    url(./fonts/FellEnglish/IMFellEnglish-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "WalterTurncoat";
  src: local("WalterTurncoat"),
    url(./fonts/WalterTurncoat/WalterTurncoat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Chapbook";
  src: local("Chapbook"), url(./fonts/Chapbook/Chapbook.ttf) format("truetype");
}
.header {
  font-family: "Declaration" !important;
}
.bodyText {
  font-family: "Fell-English" !important;
}
p {
  font-family: "Fell-English" !important;
}
.MuiTypography-body1 {
  font-family: "Fell-English" !important;
}
.MuiTypography-colorTextSecondary {
  color: "#041852" !important;
}
.mini-grid {
  display: none;
}
.bold {
  font-weight: bold;
}
.emphasized {
  font-style: italic;
}
.crossout {
  text-decoration: line-through darkred;
}
@media screen and (max-width: 800px) {
  .big-grid {
    display: none;
  }
  .mini-grid {
    display: flex;
  }
  html {
    background: none;
  }
  /* #banana-title {
    align-items: center;
  } */
  #main-logo {
    width: 160px !important;
  }
}
